<!-- Titulo e imagen -->
<section class="breadcrumb-section set-bg" data-setbg="/WebItems/img/banner.JPG">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Administrar Usuarios y artículos</h2>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Titulo e imagen fin -->
<!-- Menu ADMIN

    class="d-flex align-items-center justify-content-between mb-3"
    -->
<div class="container" >

    <div class="row">
        <div class="col  justify-content-center">
            <h2>Agregar artículos</h2>
            <a href="@Url.Action("AgregarArticulo", "Store")" title="agregarArticulo" class="links">
                <img width="200" height="200" class="boton-menu" alt="agregarArticulo" src="@Url.Content("~/WebItems/img/agregarArticulo.png")">
            </a>
        </div>

        <div class="col  justify-content-center">
            <h2>Borrar artículos</h2>
            <a href="@Url.Action("BorrarArticulo", "Store")" title="BorrarArticulo" class="links">
                <img width="200" height="200" class="boton-menu" alt="BorrarArticulo" src="@Url.Content("~/WebItems/img/borrarArticulo.png")">
            </a>
        </div>

        <div class="col  justify-content-center">
            <h2>Actualizar artículos</h2>
            <a href="@Url.Action("ActualizarArticulo", "Store")" title="ActualizarArticulo" class="links">
                <img width="200" height="200" class="boton-menu" alt="ActualizarArticulo" src="@Url.Content("~/WebItems/img/actualizarArticulo.png")">
            </a>
        </div>
    </div>
</div>






<!-- Blog Section End -->
